@import "../../../assets/styles/_imports/variables";

.badge {
  border-radius: 50%;
  background-color: #EB2188;
  padding-top: 5px;
  color: #fcfcfc;
  padding-bottom: 5px;
  font-size: 10px;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
}