@import '../../../assets/styles/_imports/variables';

header {
	width: 100%;
	padding-top: $space-small;
	padding-bottom: $space-small;
	background: $primary;
	box-shadow: $box-shadow-raised-hover;
	margin-bottom: $space-med*1.75;
	h1, h2, h3 {
		color: white;
	}
	@media screen and (max-width: $media-med) {
		margin-bottom: $space-big*0.85;
		padding-top: $space-med;
	}
	@media screen and (max-width: $media-small) {
		padding-top: $space-big;
		padding-bottom: $space-small*0.5;
		margin-bottom: $space-small*0.85;
	}
}

.nav--horizontal {
	display: flex;
	margin-top: 0;
	margin-bottom: 0;
	ul, ol {
		margin-left: 0;
	}
	> ul, > li {
		display: flex;
	}
	a {
		display: inline-block;
	}
}

.logo-area {
	width: 100%;
	height: 152px;
	border-bottom: solid 1px lighten($grey, 26%);
	display: flex;
	align-items: center;
	justify-content: center;
	color: lighten($black, 15%);
}


.nav-collapsible-links {
	height: 100%;
	transform: scaleY(0);
	transform-origin: 0 0;
	transition: transform 0.3s $cubic;
	a {
		padding: 0 24px 0 34px;
		height: 0;
		font-weight: 400;
		transition: height 0.3s $cubic;
		display: flex;
		align-items: center;
	}
}

#nav--super-vertical-responsive,
#nav--super-vertical-responsive + label,
#nav--horizontal-responsive,
#nav--horizontal-responsive + label {
	display: none;
}

@media screen and (max-width: $media-small) {
	.nav--horizontal {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 7;
		transform: translateY(-100%);
		transition: transform 0.3s $cubic;
		ul, li, a {
			width: 99%;
			display: block;
			margin: 0;
		}
		a {
			line-height: $space-big;
			color: black;
		}
		> ul {
			padding-top: 30px;
			background: $primary;
			box-shadow: $box-shadow-card;
		}
	}
	#nav--horizontal-responsive + label {
		display: block;
		position: fixed;
		z-index: 8;
		color: white;
		top: 0;
		left: 0;
		padding: $space-small;
		background: $primary;
		box-shadow: $box-shadow-card;
		cursor: pointer;
		transition: background 0.3s $cubic, color 0.3s $cubic;
	}
	#nav--horizontal-responsive:checked {
		+ label {
			background: $primary;
			color: white;
		}
		~ .nav--horizontal {
			transform: translateY(0);
		}
	}
}

.nav--horizontal {
	a {
		color: $silver;
		background: $primary;
		padding: $space-small;
		transition: none;
		will-change: background;
		&:hover {
			color: lighten($silver, 50%);
		}
	}
	.active{
		color: $sunflower;
	}
}

.dropdown {
	position: relative;
	ul {
		position: absolute;
		background: white;
		left: 0;
		transition: all 0.3s ease;
		transform: scale(0);
		transform-origin: 0 0;
		z-index: 2;
		box-shadow: $box-shadow-card;
		width: 100%;
		li {
			width: 100%;
			margin: 0;
			padding: 0;
			a {
				width: 100%;
				padding: 8px 10px;
				display: inline-block;
				margin: 0;
				border-radius: 0;
			}
		}
	}
	&:hover {
		ul {
			transform: scale(1);
		}
	}
}