@import "./_imports/variables";

// Floats
.right {
	float: right;
}

.left {
	float: left;
}

.clear {
	clear: both;
}

// Display
.inline {
	display: inline;
}

.inline-block {
	display: inline-block;
}

.block {
	display: block;
}

.fixed {
	display: fixed;
}


// Margin and Padding
.no-pad {
	padding: 0;
}

.no-margin-vertical {
	margin-top: 0;
	margin-bottom: 0;
}

.no-margin {
	margin: 0;
}

// Center
.center {
	margin: 0 auto;
}

.text-center {
	text-align: center;
}

.mx-1{
	margin-left: $space-small;
	margin-right: $space-small;
}

.mt-1{
	margin-top: $space-small;
}

.px-2{
	padding-left: $space-med;
	padding-right: $space-med;
}

.w-100 {
	width: 100%;
}
